
{% extends './model.html' %}
{% load bootstrap %}
{% block content %}
    <div class='container'>

    <h1 class="text-center">To Do App</h1>
<form method="post"> {% csrf_token %}
    {{ form | bootstrap }}
    <button type="submit">Enviar</button>

</form>

{% for conteudo in conteudos %}

    <p> {{ conteudo.conteudo }} <br> {{ conteudo.data }}</p>
    <form action="./tarefas/delete/{{ conteudo.id }}" method="post"> {% csrf_token %}
    <button type="submit">Delete</button>
    </form>
    </div>

    {% endfor %}
{% endblock %}


